body > header{
  height: 80px;
  width: 100%;

  background-color: #E76C1F;

  color: white;
  font-family: 'Palanquin';
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 20px 15px;
}
.header-media{
  height: 35px;
  width: 32px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-text{
  line-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 2px;
}
.header-text-1{
  font-size: 16px;
}
.header-text-2{
  font-size: 26px;
}
.menu-icon{
  display: none;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  height: 130px;
  width: 100%;

  background-color: #E76C1F;

  color: white;
  font-family: 'Palanquin';
  font-weight: 400;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul{
  list-style: none;

  padding-inline-start: 0px;

  text-align: center;
}
a{
 text-decoration: none;
 
 color: inherit;
}
nav{
  background-color: rgba(54, 53, 52, 1);

  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  bottom: 0px;

  z-index: 99999;
}
.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}
.nav-list svg{
  height: 24px;
  width: 24px;
}
.nav-list button{
  background-color: inherit;
  border: none;
  height: 40px;
  width: 40px;
}
.shopping-cart-counter{
  height: 20px;
  width: 20px;

  background-color: #FDEADC;

  color: #E76C1F;
  font-family: 'Palanquin';
  font-weight: 600;
  font-size: 12px;

  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -5px;
  right: -5px; 
}

.basket-btn-mobile-version{
  position: relative;

  background-color: inherit;

  border: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

li button:active{
  background-color: white;

  border-radius: 5px;
}

li button:active path{
  fill: rgba(231, 108, 31, 1);
}

.basket-btn-mobile-version:active path{
  fill: rgba(231, 108, 31, 1) !important;
}

