.imprint{
    font-size: 16px;
    font-family: 'Palanquin';
    padding-left: max(calc(50% - 720px), 140px);
    padding-right: max(calc(50% - 720px), 140px);
    padding-bottom: 10px;
    padding-top: 10px;
}