.imprint{
    font-size: 16px;
    font-family: 'Palanquin';
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.imprint-body {
    height: 100%;
    margin: 0;
}

.imprint-body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 160px);
}

.imprint-main {
    flex: 1;
}
.imprint h1{
    margin-bottom: 10px;
}