.meal{
    background-color: #FDEADC;

    border-radius: 10px;

    color: black;
    font-family: 'Palanquin';

    padding: 10px;

    height: 270px;
    width: 290px;

    display: flex;
    flex-direction: column;
    gap:5px;
    
}

.meal-media{
    width: 270px;
    height: 85px;

    border-radius: 10px;

    /* background-image: url(../assets/images/burgers-imgs/veggie-mushroom-black-burger.jpg);  */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center ; 
}
.meal-text{
    flex: 1;
}
.meal-text h4{
    font-size: 24px;
    font-weight: 600;

    line-height: 120%;

    padding-bottom: 2.5px;
}
.meal-text h5{
    font-size: 16px;
    font-weight: 500;

    line-height: 120%;
}
.meal-preis-and-btn{
    display: flex;
    justify-content: space-between;
}
.meal-preis-and-btn p{
    font-size: 24px;
    font-weight: 600;
}
.meal-preis-and-btn button{
    font-size: 16px;
    font-weight: 600;

    background-color: white;
    
    border-radius: 20px;
    border: none;

    cursor: pointer;
}
.items-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}